@font-face {
	font-family: "CurseCasual";
	src: url('./fonts/Curse Casual.ttf') format('truetype');
}

* {
	font-family: CurseCasual;
	letter-spacing: 1.1px;
	color: rgba(0, 0, 0, 0.7);
}

.factionimage-imgwrapper img {
  height: 60px;
  width: 60px;
 	margin-top: -14px;
  float: left;
  background-image: url("./img/smashup-bluebackground.png");
  background-size: 60px 60px;
}

.factionimage-imgwrapper-active img {
	background-image: url("./img/smashup-graybackground.png");
}

.factionimage-row {
	height: 75px;
	background: rgba(80, 200, 240, 0.6);
	box-shadow: 0px 0px 10px black inset;
}

.factionimage-row:hover {
	background: rgba(80, 200, 240, 0.9);
}

.factionimage-row-active {
	background: rgba(76, 175, 80, 0.1);
}

.factionimage-row-active:hover {
	background: rgba(176, 175, 80, 0.3);
}

.factionimage-factiontitle {
	margin-top: 14px;
	margin-left: 20px;
	font-size: 1.7em;
	color: rgba(0, 0, 0, 0.7);	
}

.factionimage-factiontitle-active {
	text-decoration: line-through;
	color: white;	
}

.factionslist-button {
	margin: -5px 0 10px -5px;
	width: 20%;
}

.factionslist-panel > .panel-collapse > div.panel-body {
	padding: 0 15px;
}

.panel-default > .panel-heading {
	background: rgba(255, 233, 49, 0.6);
	box-shadow: 0px 0px 15px black inset;
}

.panel-title>a {
	font-size: 1.5em;
	display: block;
	height: 100%;
	margin: -15px;
	padding: 15px;
}

.panel-title>a:hover {
	text-decoration: none;
	background: #f4ff81;
	box-shadow: 0px 0px 10px black inset;	
}

.playerdata-listgroupitem {
	font-size: 2em;
}

div.container {
	padding: 0;
}

.playerdata-listgroup-header > .panel-heading {
	font-size: 2em;
	background: rgba(76, 175, 80, 0.7);
	box-shadow: 0px 0px 10px black inset;
}

.playerdata-listgroup-header > .panel-body {
	padding: 0;
}

.playerdata-listgroupitem {
	font-size: 1.5em;	
	box-shadow: 0px 0px 10px black inset;
	border: none;
	background: rgba(80, 200, 240, 0.6);	
}

.playerdata-listgroup {
	margin: 0;
}

.formsettings-groupSettings {
	font-size: 1.2em;
}